:root {
  --primary: #6a0dad;
  --business: #4a9fff;
  --personal: var(--primary);
  --light: #121212;
  --grey: #aaa;
  --dark: #ffffff;
  --danger: #ff4444;

  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  --business-glow: 0px 0px 10px rgba(74, 159, 255, 0.75);
  --personal-glow: 0px 0px 10px rgba(106, 13, 173, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
  background: var(--light);
  color: var(--dark);
  line-height: 1.6;
}

section {
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 800px;
  background: #1f1f1f;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

h3 {
  color: var(--dark);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.greeting .title {
  display: flex;
  align-items: center;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
  background-color: #676666;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.greeting .title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.75rem;
  font-weight: 700;
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: black;
  background-color: #ececec;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  transition: box-shadow 0.3s ease;
}

.create-todo input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(106, 13, 173, 0.5);
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: #dcdcdc;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.create-todo .options label:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
  color: black;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--personal-glow);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #ececec;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.todo-list .todo-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
  color: #000;
}

.todo-item .todo-content input {
  color: black;
  font-size: 1.125rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.todo-item .actions button:hover {
  opacity: 0.85;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .save {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}

.todo-content.done div {
  text-decoration: line-through;
  color: var(--grey);
}

.filter-todos {
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filter-todos .options {
  display: flex;
  justify-content: space-around;
}

.filter-todos .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.filter-todos .options label:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.filter-todos .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

.filter-todos .options label div:hover {
  color: #4e0fbb;
}
